<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="StudentConnectionString" connectionString="Data Source=NINAD\SQLEXPRESS;Initial Catalog=Student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>

      <profile enabled="true">
        <properties>
          <add name="Name" type="String" />
          <add name="UserCount" type="System.Int16"/>
        </properties>
      </profile>


      <compilation debug="true" targetFramework="4.0" />
      
    </system.web>

</configuration>
